$nav-link-font: helvetica;

$main-font-ink: de-walpergens-pica;

$artichoke-font: hobeaux-rococeaux;

$logo-outline: acier-bat-outline;

$logo-crosshatched: acier-bat-gris;

$logo-half-full: acier-bat-noir;

$cursive: texas-hero;

$logo-color-pop: red;