.bio {
  background: white;
  border: 0;
  margin: 0;

  p:nth-child(1) {
    font-family: $main-font-ink;
    font-size: 20px;
    max-width: 35%;
    text-align: left;
    margin: 2em auto;
    padding: 2em;

    .giant-first-letter {
      font-family: $main-font-ink;
      font-size: 80px;
      line-height: 0em;
    }
  }

  p:nth-child(2) {
    font-family: $main-font-ink;
    font-size: 20px;
    max-width: 35%;
    text-align: left;
    margin: 1em auto;
    padding: 1em;
  }
}

.bottom-doodle {
  font-family: $artichoke-font;
  text-align: center;
  font-size: 1em;
}
