.showroom {
  background-image: url("http://nathanielmordetzky.com/img/wormwood%20diamond.png");  
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  border: none;
  padding: 10vh; 
  overflow: hidden;
  column-count: 3;
  column-gap: 10vh; 
  box-sizing: border-box;
  /* box-shadow: inset 0px 3px 10px 0 #000000; */

  .exhibit-holder {
    background-image: url("http://nathanielmordetzky.com/img/mysite11.jpeg");
    height: 20vh; 
    margin-bottom: 10vh;
    cursor: zoom-in;
    overflow: hidden; 
    break-inside: avoid-column; /* fix for Firefox */
    -webkit-column-break-inside: avoid;
    /* box-shadow: 0px 2px 5px #888888; */
  }

  .holder-variant-skinny {
    height: 10vh;
  }

  .holder-variant-tall {
    height: 30vh;
  }

  .logo-show-room {
    height: 40vh;
    background-image: none;
    cursor: default;
    font-family: "de-walpergens-pica";
    color: black;
    font-size: 1em;
    padding: 40px 20px;
    box-sizing: border-box;
    line-height: 40vH; 
    letter-spacing: 0.01em;
    /* transform: rotate(90deg); */

    .s {
      font-size: 3em;
      line-height: 0.0px;
    }

    .how {
        font-size: 1.4em;
        line-height: 0.86em;
        margin-left: 6.5vw;
    }

    .r {
      font-size: 3em;
      line-height: 0.7em;
      padding-left: 6vw;
    }

    .oom {
        font-size: 1.4em;
        line-height: 0em;
        margin-left: 13vw;
        margin-top: -0.79em;
        letter-spacing: -0.03em;
    }
  }
}



