.thanks {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  border: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;

  .topPlaceholder {
    width: 100vw;
    height: 30vh;
    background: #71a2b2;
  }

  .more {
    margin-top: 18vh;
    height: 35vh;
    width: 1.5vw;
    float: left;
    background: #589b98;

    .moreText {
      margin-top: 4vh;
      margin-left: -0.15em;
      transform: rotate(90deg);
      font-size: 0.2em;
      color: white;
      overflow: visible;
      white-space: nowrap;
      font-family: "acier-bat-noir";
      letter-spacing: 0.8em;
    }
  }

  .thanksMainContent {
    z-index: -1;
    height: 35vh;
    width: 100vw;
    position: relative;

    .thisSite {
      position: absolute;
      width: 12em;
      right: 24.5em;
      bottom: 8em;
      font-family: "de-walpergens-pica";
      white-space: normal;
      font-size: 0.2em;
      letter-spacing: 0.3em;
    }

    .thankYou {
      position: absolute;
      width: 12em;
      right: 24.5em;
      bottom: -10.5em;
      font-family: "de-walpergens-pica";
      white-space: normal;
      font-size: 0.2em;
      letter-spacing: 0.3em;
    }

    .selfie {
      position: absolute;
      bottom: -1.7em;
      left: 42vw;
      height: 16vw;
      width: 16vw;
      border-radius: 16vw;
      z-index: 1;
    }

    .signature {
      position: absolute;
      bottom: 0;
      font-size: 1.6em;
      font-weight: 100;
      line-height: 0.5em;
      font-family: "texas-hero";
      margin-left: 11.65vw;
    }

    .dottedLine {
      position: absolute;
      bottom: 0;
      left: 0; 
      font-size: 0.5em;
      font-weight: 100;
      line-height: 0.25;
      white-space: nowrap;
    }
  }
}

.thanksFooter {
  border-top: 1px solid #f8f0f9;

  .thanksFooterLeft {
    font-size: 12px;
    font-family: "de-walpergens-pica";
    margin: auto;
    border: none;
    display: inline-block;
    width: 49vw;
    text-align: center;
  }

  .thanksFooterRight {
    font-size: 12px;
    font-family: "de-walpergens-pica";
    display: inline-block;
    width: 49vw;
    color: black;
    text-align: center;
    height: 21vh;
  }
}
