.functionbar-rules {
  display: block;
  border-radius: 5px;
  border: #f2f2f2 2px solid;
}

/* top blue section */

.functionbar-headr {
  padding: 10px;
  height: 60px;
  background-color: #f1f6ff;
  border-bottom: #f2f2f2 2px solid;
  color: #000066;
  font-family: tahoma;
  font-weight: 600;
  font-size: 22.4px;
}

.browse-button {
  background-color: transparent;
  color: #0073e6;
  border-radius: 5px;
  padding: 10px;
  border: #f2f2f2 2px solid; 
  float: right;
  font-size: 15.68px;
  font-weight: 600;
  transition-duration: .4s;
  cursor: pointer;
}

.browse-button:hover {
  background-color: #0073e6;
  color: #f1f6ff;
}

/* fingerprint icon */

.material-icons {
  vertical-align: -5px;
  padding: 0px 1px 0px 0px;
  font-size: 20px !important;
}

.headr-secndrow {
  line-height: 40px;
  color: #9494ba;
}

.headr-textsecndrow {
  font-size: 14.56px;
}

/* bottom wite section */

.functionbar-footr {  
  background-color: #ffffff;
  padding: 10px;
  font-family: tahoma;
} 

.fire-bit {
  vertical-align: middle;
  padding: 3px;
  height: 27px;
}

.footer-firsttext {
  font-weight: bold;
}

/* right floated primitive text */

.primeval-textstring {
  font-family: courier;
  line-height: 175%;
  float: right;
  color: #4d4d4d;
}

.searcriteria-primeval {
  color: #a6a6a6;
  padding: 4px;
  padding-left: 20px;
}

.userdata-primeval {
  border-bottom: dotted #e6e6e6;
}